node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

\.vs/ExpoApp/v16/

\.vs/

\.vscode/

__tests__/__snapshots__/App-test\.js\.snap

__tests__/App-test\.js

\.expo-shared/assets\.json

\.watchmanconfig

android/\.expo/packager-info\.json

android/\.expo/settings\.json
